USE [master]
GO
/****** Object:  Database [QLLuongSP]    Script Date: 12/16/2022 5:45:24 PM ******/
CREATE DATABASE [QLLuongSP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLLuongSP', FILENAME = N'D:\workspace\db\database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLLuongSP_log', FILENAME = N'D:\workspace\db\database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLuongSP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLuongSP]
GO
/****** Object:  Table [dbo].[ChamCongCN]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongCN](
	[maCN] [nvarchar](50) NOT NULL,
	[caLamViec] [nvarchar](50) NULL,
	[ngay] [date] NULL,
	[soLuongSX] [int] NULL,
	[luongNgay] [float] NULL,
	[stt] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongNV]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongNV](
	[maNV] [nvarchar](50) NULL,
	[ngayVang] [date] NULL,
	[stt] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ChamCongNV] PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDoan]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDoan](
	[maCD] [nvarchar](50) NOT NULL,
	[maSP] [nvarchar](50) NOT NULL,
	[tenCD] [nvarchar](255) NULL,
	[tenThanhPham] [nvarchar](255) NULL,
	[giaSX] [float] NULL,
	[trangThaiCD] [nvarchar](255) NULL,
	[soLuongTP] [int] NULL,
	[soLuongDSX] [int] NULL,
 CONSTRAINT [PK_CongDoan] PRIMARY KEY CLUSTERED 
(
	[maCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhan]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[maCN] [nvarchar](50) NOT NULL,
	[tenCN] [nvarchar](255) NULL,
	[maTo] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](255) NULL,
	[cccd] [nvarchar](50) NULL,
	[sdt] [nvarchar](255) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CongNhan] PRIMARY KEY CLUSTERED 
(
	[maCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CD_SX_SP]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CD_SX_SP](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[maCD] [nvarchar](50) NULL,
	[maSP] [nvarchar](50) NULL,
	[giaSX] [float] NULL,
 CONSTRAINT [PK_CT_CD_SX_SP] PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTLuongCB]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTLuongCB](
	[maNV] [nvarchar](50) NOT NULL,
	[luongCB] [float] NULL,
	[phuCap] [float] NULL,
	[heSoLuong] [float] NULL,
 CONSTRAINT [PK_CTLuongCB] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](50) NOT NULL,
	[tenNV] [nvarchar](255) NULL,
	[chucVu] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](50) NULL,
	[diaChi] [nvarchar](255) NULL,
	[cccd] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLuongCN]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLuongCN](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[maCN] [nvarchar](50) NOT NULL,
	[thang] [nvarchar](50) NULL,
	[soSPSX] [int] NULL,
	[tienLuong] [float] NULL,
 CONSTRAINT [PK_Luongw] PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLuongNV]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLuongNV](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[maNV] [nvarchar](50) NOT NULL,
	[thang] [date] NULL,
	[soNgayCong] [int] NULL,
	[tienLuong] [float] NULL,
 CONSTRAINT [PK_PhieuLuongNV] PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [nvarchar](50) NOT NULL,
	[tenSP] [nvarchar](255) NULL,
	[giaSX] [float] NULL,
	[soLuong] [int] NULL,
	[trangThaiSP] [nvarchar](255) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NULL,
 CONSTRAINT [PK_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToSanXuat]    Script Date: 12/16/2022 5:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToSanXuat](
	[maTo] [nvarchar](50) NOT NULL,
	[tenTo] [nvarchar](255) NULL,
	[maCD] [nvarchar](50) NULL,
	[soLuongCN] [int] NULL,
 CONSTRAINT [PK_ToSanXuat] PRIMARY KEY CLUSTERED 
(
	[maTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamCongCN] ON 

INSERT [dbo].[ChamCongCN] ([maCN], [caLamViec], [ngay], [soLuongSX], [luongNgay], [stt]) VALUES (N'CN001', N'Ca 1', CAST(N'2022-11-16' AS Date), 200, 300000, 38)
INSERT [dbo].[ChamCongCN] ([maCN], [caLamViec], [ngay], [soLuongSX], [luongNgay], [stt]) VALUES (N'CN002', N'Ca 1', CAST(N'2022-11-16' AS Date), 200, 600000, 39)
INSERT [dbo].[ChamCongCN] ([maCN], [caLamViec], [ngay], [soLuongSX], [luongNgay], [stt]) VALUES (N'CN004', N'Ca 1', CAST(N'2022-11-16' AS Date), 300, 900000, 40)
SET IDENTITY_INSERT [dbo].[ChamCongCN] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCongNV] ON 

INSERT [dbo].[ChamCongNV] ([maNV], [ngayVang], [stt]) VALUES (N'NV013', CAST(N'2022-12-16' AS Date), 6)
SET IDENTITY_INSERT [dbo].[ChamCongNV] OFF
GO
INSERT [dbo].[CongDoan] ([maCD], [maSP], [tenCD], [tenThanhPham], [giaSX], [trangThaiCD], [soLuongTP], [soLuongDSX]) VALUES (N'CD001', N'SP001', N'Công Đoạn 1', N'Thân Áo Trước', 5000, N'Đang Sản Xuất', 10000, 0)
INSERT [dbo].[CongDoan] ([maCD], [maSP], [tenCD], [tenThanhPham], [giaSX], [trangThaiCD], [soLuongTP], [soLuongDSX]) VALUES (N'CD002', N'SP001', N'Công Đoạn 2', N'Thân Áo Sau', 3000, N'Đang Sản Xuất', 10000, 1650)
INSERT [dbo].[CongDoan] ([maCD], [maSP], [tenCD], [tenThanhPham], [giaSX], [trangThaiCD], [soLuongTP], [soLuongDSX]) VALUES (N'CD003', N'SP001', N'Công Đoạn 3', N'Tay Áo', 3500, N'Đang Sản Xuất', 20000, 0)
GO
INSERT [dbo].[CongNhan] ([maCN], [tenCN], [maTo], [gioiTinh], [ngaySinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'CN001', N'Nguyễn Văn Nam ', N'T001', N'nam', CAST(N'1999-12-12' AS Date), N'15 Nguyễn Kiệm, Q.Gò Vấp', N'014132141475', N'0312565742', N'Đang làm')
INSERT [dbo].[CongNhan] ([maCN], [tenCN], [maTo], [gioiTinh], [ngaySinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'CN002', N'Nguyễn Thị Hà', N'T001', N'nữ', CAST(N'1998-04-07' AS Date), N'60 Thống Nhất, p10, Q.Gò Vấp', N'051232137415', N'03155651214', N'Đang làm')
INSERT [dbo].[CongNhan] ([maCN], [tenCN], [maTo], [gioiTinh], [ngaySinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'CN003', N'Hà Văn Bảy', N'T002', N'nam', CAST(N'1997-04-12' AS Date), N'34 Nguyễn Văn Linh, Q.7', N'00253132152142', N'32123163354', N'Đang làm')
GO
SET IDENTITY_INSERT [dbo].[CT_CD_SX_SP] ON 

INSERT [dbo].[CT_CD_SX_SP] ([stt], [maCD], [maSP], [giaSX]) VALUES (1, N'CD001', N'SP001', 5000)
INSERT [dbo].[CT_CD_SX_SP] ([stt], [maCD], [maSP], [giaSX]) VALUES (2, N'CD002', N'SP001', 3000)
INSERT [dbo].[CT_CD_SX_SP] ([stt], [maCD], [maSP], [giaSX]) VALUES (3, N'CD003', N'SP001', 3500)
SET IDENTITY_INSERT [dbo].[CT_CD_SX_SP] OFF
GO
INSERT [dbo].[CTLuongCB] ([maNV], [luongCB], [phuCap], [heSoLuong]) VALUES (N'NV001', 2000000, 500000, 3.2)
INSERT [dbo].[CTLuongCB] ([maNV], [luongCB], [phuCap], [heSoLuong]) VALUES (N'NV002', 2000000, 500000, 3.2)
INSERT [dbo].[CTLuongCB] ([maNV], [luongCB], [phuCap], [heSoLuong]) VALUES (N'NV003', 2000000, 500000, 3.2)
GO
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [chucVu], [ngaySinh], [gioiTinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'NV001', N'Nguyễn Văn Trinh', N'HCNS', CAST(N'2001-04-28' AS Date), N'Nam', N'15 Nguyễn Kiệm, Q.Gò Vấp', N'052210101453', N'0386200124', N'Đang làm')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [chucVu], [ngaySinh], [gioiTinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'NV002', N'Đinh Đức Đạt', N'HCNS', CAST(N'2000-08-11' AS Date), N'Nam', N'34 Nguyễn Văn Linh, Q.7', N'547635625142', N'0332452056', N'Đang làm')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [chucVu], [ngaySinh], [gioiTinh], [diaChi], [cccd], [sdt], [trangThai]) VALUES (N'NV003', N'Nguyễn Thị Nhi', N'HCNS', CAST(N'2002-08-04' AS Date), N'Nữ', N'60 Thống Nhất, p10, Q.Gò Vấp', N'754214245521', N'0984521475', N'Đang làm')
GO
SET IDENTITY_INSERT [dbo].[PhieuLuongCN] ON 

INSERT [dbo].[PhieuLuongCN] ([stt], [maCN], [thang], [soSPSX], [tienLuong]) VALUES (42, N'CN001', N'2022-11-30', 2500, 7500000)
INSERT [dbo].[PhieuLuongCN] ([stt], [maCN], [thang], [soSPSX], [tienLuong]) VALUES (43, N'CN002', N'2022-11-30', 1540, 7700000)
SET IDENTITY_INSERT [dbo].[PhieuLuongCN] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuLuongNV] ON 

INSERT [dbo].[PhieuLuongNV] ([stt], [maNV], [thang], [soNgayCong], [tienLuong]) VALUES (30, N'NV001', CAST(N'2022-12-16' AS Date), 26, 6900000)
INSERT [dbo].[PhieuLuongNV] ([stt], [maNV], [thang], [soNgayCong], [tienLuong]) VALUES (31, N'NV002', CAST(N'2022-12-16' AS Date), 26, 6900000)
INSERT [dbo].[PhieuLuongNV] ([stt], [maNV], [thang], [soNgayCong], [tienLuong]) VALUES (32, N'NV003', CAST(N'2022-12-16' AS Date), 26, 6900000)
SET IDENTITY_INSERT [dbo].[PhieuLuongNV] OFF
GO
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaSX], [soLuong], [trangThaiSP]) VALUES (N'SP001', N'Áo Sơ Mi', 74000, 10000, N'Đang Sản Xuất')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaSX], [soLuong], [trangThaiSP]) VALUES (N'SP002', N'Áo Thể Thao', 60000, 18000, N'Đang Sản Xuất')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaSX], [soLuong], [trangThaiSP]) VALUES (N'SP003', N'Áo Polo', 72000, 50000, N'Đang Sản Xuất')
GO
INSERT [dbo].[TaiKhoan] ([maTK], [matKhau]) VALUES (N'NV001', N'NV001')
INSERT [dbo].[TaiKhoan] ([maTK], [matKhau]) VALUES (N'NV002', N'NV002')
INSERT [dbo].[TaiKhoan] ([maTK], [matKhau]) VALUES (N'NV003', N'NV003')
GO
INSERT [dbo].[ToSanXuat] ([maTo], [tenTo], [maCD], [soLuongCN]) VALUES (N'T001', N'Tổ 1', N'CD002', 1000)
INSERT [dbo].[ToSanXuat] ([maTo], [tenTo], [maCD], [soLuongCN]) VALUES (N'T002', N'Tổ 2', N'CD001', 2000)
INSERT [dbo].[ToSanXuat] ([maTo], [tenTo], [maCD], [soLuongCN]) VALUES (N'T003', N'Tổ 3', NULL, 1500)
GO
ALTER TABLE [dbo].[ChamCongCN]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_CongNhan] FOREIGN KEY([maCN])
REFERENCES [dbo].[CongNhan] ([maCN])
GO
ALTER TABLE [dbo].[ChamCongCN] CHECK CONSTRAINT [FK_ChamCong_CongNhan]
GO
ALTER TABLE [dbo].[ChamCongNV]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongNV_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[ChamCongNV] CHECK CONSTRAINT [FK_ChamCongNV_NhanVien]
GO
ALTER TABLE [dbo].[CongDoan]  WITH CHECK ADD  CONSTRAINT [FK_CongDoan_CongDoan] FOREIGN KEY([maCD])
REFERENCES [dbo].[CongDoan] ([maCD])
GO
ALTER TABLE [dbo].[CongDoan] CHECK CONSTRAINT [FK_CongDoan_CongDoan]
GO
ALTER TABLE [dbo].[CongNhan]  WITH NOCHECK ADD  CONSTRAINT [FK_CongNhan_ToSanXuat] FOREIGN KEY([maTo])
REFERENCES [dbo].[ToSanXuat] ([maTo])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CongNhan] NOCHECK CONSTRAINT [FK_CongNhan_ToSanXuat]
GO
ALTER TABLE [dbo].[CT_CD_SX_SP]  WITH CHECK ADD  CONSTRAINT [FK_CT_CD_SX_SP_CongDoan] FOREIGN KEY([maCD])
REFERENCES [dbo].[CongDoan] ([maCD])
GO
ALTER TABLE [dbo].[CT_CD_SX_SP] CHECK CONSTRAINT [FK_CT_CD_SX_SP_CongDoan]
GO
ALTER TABLE [dbo].[CT_CD_SX_SP]  WITH CHECK ADD  CONSTRAINT [FK_CT_CD_SX_SP_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[CT_CD_SX_SP] CHECK CONSTRAINT [FK_CT_CD_SX_SP_SanPham]
GO
ALTER TABLE [dbo].[CTLuongCB]  WITH CHECK ADD  CONSTRAINT [FK_CTLuongCB_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[CTLuongCB] CHECK CONSTRAINT [FK_CTLuongCB_NhanVien]
GO
ALTER TABLE [dbo].[PhieuLuongCN]  WITH CHECK ADD  CONSTRAINT [FK_Luong_CongNhan] FOREIGN KEY([maCN])
REFERENCES [dbo].[CongNhan] ([maCN])
GO
ALTER TABLE [dbo].[PhieuLuongCN] CHECK CONSTRAINT [FK_Luong_CongNhan]
GO
ALTER TABLE [dbo].[PhieuLuongNV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLuongNV_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuLuongNV] CHECK CONSTRAINT [FK_PhieuLuongNV_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_CongNhan] FOREIGN KEY([maTK])
REFERENCES [dbo].[CongNhan] ([maCN])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_CongNhan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maTK])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[ToSanXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_ToSanXuat_CongDoan] FOREIGN KEY([maCD])
REFERENCES [dbo].[CongDoan] ([maCD])
GO
ALTER TABLE [dbo].[ToSanXuat] CHECK CONSTRAINT [FK_ToSanXuat_CongDoan]
GO
USE [master]
GO
